
<div class="logo">
    <div class="icons">
       <p class="me"><a href="https://www.linkedin.com/in/veronica-elaine-ramirez/">Get to know Veronica</a><br>
       <a target="_blank" href="https://www.instagram.com/vero_elaine_/"><ion-icon name="logo-instagram"></ion-icon></a>
       <a target="_blank" href="https://github.com/VeroElaine"><ion-icon name="logo-github"></ion-icon></a>
       <a target="_blank" href="https://www.linkedin.com/in/veronica-elaine-ramirez/"><ion-icon name="logo-linkedin"></ion-icon></a></p>
   </div>
</div>
