
<div class="logo">
    <div class="icons">
       <p class="me">Get to know Veronica</p>
       <a target="_blank" href="https://www.instagram.com/vero_elaine_/"><ion-icon name="logo-instagram"></ion-icon></a>
       <a target="_blank" href="https://github.com/VeroElaine/VeroElaine.github.io"><ion-icon name="logo-github"></ion-icon></a>
       <a target="_blank" href="https://www.linkedin.com/in/veronica-elaine-ramirez/"><ion-icon name="logo-linkedin"></ion-icon></a>
   </div>
</div>
