<header>
<nav class="profile">
    <a href="/sessions/new">Log In</a>
    <a href="/users/new">Sign up</a>
<!-- if logged in show a logout option or profile -->
<!-- drop down menu for profile -->
</nav>
</header>
