<header>

<nav class="navbar navbar-inverse" id="header">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="imageLogo">
          <img class="headerLogo" src="/img/solarLogo.png" alt="">
          <img class="headerLogo" src="/img/camperLogo.png" alt="">
      </div>
      <div class="title">
          <h1 class="headTitle">Campervan <span class="solar">Solar</span> Build</h1>
      </div>

    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right" >
        <li><a id="headNav" href="/users/new"><span  class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a id="headNav2" href="/sessions/new"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
</header>
