<header>
<nav class="profile">
    <button type="button" class="btn btn-default"><a href="/sessions/new">Log In</a></button>
    <!-- <a href="/users/new">Sign up</a> -->

<!-- if logged in show a logout option or profile -->
<!-- drop down menu for profile -->
</nav>

<nav class="profile">
    <button type="button" class="btn btn-default"><a href="/users/new">Sign up</a></button>
</nav>


<form class="profile" action="/sessions/destroy" method="POST">
    <button type="submit" class="btn btn-default">Log Out</button>
</form>


</header>
