<div id="tabs" class="container">
    <div class="container">
      <!-- <h1>Home Page</h1> -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="/"><span class="glyphicon glyphicon-road"></span> Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="glyphicon glyphicon-wrench"></span> My Solar Build </a>
          <ul class="dropdown-menu">
            <li><a href="/solar"> <span class="glyphicon glyphicon-flash"></span> Input My Appliances</a></li>
            <li><a href="/solar/build"><span class="glyphicon glyphicon-shopping-cart"></span> Build My Kit</a></li>
          </ul>
        </li>
        <li><a href="/solar/buildguide"><span class="glyphicon glyphicon-info-sign"></span> Solar Build Guide</a></li>
        <li><a href="/community"><span class="glyphicon glyphicon-globe"></span> Community Builds</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-search"></span> Individual Parts </a>
          <ul class="dropdown-menu">
              <li><a href="/solar/battery"><span id="batteryIcon" class="glyphicon glyphicon-folder-close"></span> Batteries</a></li>
              <li><a href="/solar/panels"><span id="solarpanelIcon" class="glyphicon glyphicon-sunglasses"></span> Solar Panels</a></li>
              <li><a href="/solar/chargecontrol"><span id="chargecntrlIcon" class="glyphicon glyphicon-modal-window"></span> Charge Control</a></li>
              <li><a href="/solar/inverter"><span id="inverIcon" class="glyphicon glyphicon-random"></span> Inverter</a></li>
        <!-- <li><a href="#">Individual Parts</a></li> -->
      </ul>
    </div>
</div>
