<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div id="container">
            <div id="main">
                <% include ../partials/headerLoggedIn.ejs %>
                <% include ../partials/tab4.ejs %>
                <div class="newUser">
                    <div id="box" >
                            <h1>Edit Your Post</h1>
                            <form action="/community/<%=community.id%>?_method=PUT" method="POST">
                                Name: <input id="userText" type="text" name="name" value="<%=community.name%>"/><br/>
                                Image: <input id="userText" type="text" name="image" value="<%=community.image%>" /><br/>
                                Description: <input id="userText" type="textarea" name="description" value="<%=community.description%>"/>

                                <br/>
                                <input id="accountRegister"type="submit" value="Submit Changes">
                            <form>
                                <nav>
                                    <a href="/community">Back to Community Posts</a>
                                </nav>
                            </div>
                        </div>

                    </div>
                </div>

    <footer id="footer">
        <% include ../partials/footer.ejs %>
    </footer>
    </body>
</html>
