<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <nav>
            <a href="/solar/new">Create a new post</a>
        </nav>

    </body>
</html>
