<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div id="container">
            <div id="main">
                <% include ../partials/headerLoggedIn.ejs %>
                <% include ../partials/tab4.ejs %>
                <div class="newUser">
                    <div id="box" >

                        <h3 class="logIn">CONGRATS! <br>Your Journey has been successful! Share your build and help inspre others along their journey too!</h3>
                        <p>Please make sure you are signed in otherwise your post will not submit.</p>
                            <form action="/community" method="POST">
                            Name: <input id="userText" class="username" type="text" name="name" /><br/>
                            Image URL: <input id="userText"type="text" name="image" data-toggle="tooltip" title="host your image on imugr and copy link here"/><br/>
                            <!-- for tooltip above -->
                            <script>
                            $(document).ready(function(){
                              $('[data-toggle="tooltip"]').tooltip();
                            });
                            </script>

                            Description: <input id="userText"type="textarea" name="description" /><br/>
                            <input id="accountRegister" type="submit" value="Create Post"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <footer id="footer">
            <% include ../partials/footer.ejs %>
        </footer>
    </body>
</html>
