<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div id="container">
            <div id="main">
                <% include ../partials/header.ejs %>
                <% include ../partials/tab4.ejs %>

                <h1>Community Show Page</h1>
                Description: <%=community.description%>
                <nav>
                    <a href="/community">Back to community posts</a>
                </nav>
            </div>
        </div>
    <footer id="footer">
        <% include ../partials/footer.ejs %>
    </footer>
</body>
</html>
