<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Community Show Page</h1>
        The <%=community.name%> is <%=community.image%>.
        <%=community.description%>

        <nav>
            <a href="/community">Back to community Index</a>
        </nav>
    </body>
</html>
