#header{
    /* background: lightblue; */
    background: #62c4ff;
    border: 2px solid black;

}
body{
    background-color: white;
}
.headTitle{
    text-shadow: 2px 2px black;
}
.solar{
    color: #FFE01C;
}
.title{
    margin-left: 20%;
    color: white;
    margin-top: -15%;
}
#headNav{
    color: white;
    margin-top: 20%;
    text-shadow: 1px 1px black;
    font-size: 18px;

}
input#submit{
  background:none;
  border:none;
  font-size:1em;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 17.5px;
  margin-top: 20%;
}

.imageLogo{
    height: 55px;
    width: 60px;
    margin-left: -4%;
    margin-top: -1%;
    /* margin-top: 1.2%; */

}
.underHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    height: 10vh;
    margin-top: -4.8%;
    margin-bottom: 5%;

    /* padding-top: 2%; */
    color: black;
}
#underHeader{
    font-size: 25px;
}

.item{
    width: 100%;
}
#item{
    width: 60%;
    height: 60%;
}

.solarButtons{
    display: flex;
    flex-direction: row;
    padding-left: 4%;
    margin-top: 2%;
    /* justify-content: space-around; */
}

.buildSolar{
    margin-left: 10%;
}
.table{
    margin-top: 4%;
}

.homeImage{
    height: 20%;
    width: 100%;
    border: 4px solid #62c4ff;
    margin-bottom: 3%;
}
.sessionImage{
    height: 100%;
    width: 100%;
    border: 4px solid #62c4ff;
    margin-bottom: 3%;
}

.cards {
   display: flex;
   justify-content: space-between;
}
.centered{
    display: flex;
}
#tabs{
    /* background-color: #FFE01C; */
    width: 100%;
}
#buy{
    color: green;
    /* margin-left: 1%; */

}
#buyIcon{
    padding-right: 5%;
}
tr{
    font-size: 18px;
}
#inverIcon, #chargecntrlIcon, #solarpanelIcon, #batteryIcon{
    padding-right: 4%;
    /* color: skyblue; */
}
#edit{
    /* background-color: #27AEE3; */
    background-color: #26abff;
    color: white;

}
#edit a{
    color: white;
}

#delete{
    /* background-color:#FF1A00; */
    /* background-color: #FF0012; */
    /* background-color: #Df2121; */
    background-color: #f21515;
    color: white;
}
#info{
    color: skyblue;
}
.build-edit{
    display: flex;
    flex-direction: row;

}

footer{
    background-color: gray;
    height: 20%;
    color: white;
}
.icons a{
    color:white;
    height: 10%;
    width: 10%;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  /* padding-left: 40px; */
  width: 35rem;
  height: 35rem;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

/* Add some padding inside the card container */
.allCards {
  /* padding: 2px 26px; */
  justify-content: center;
  padding-left: 2%;
  display: flex;
  margin-bottom: 10%;
  margin-top: 3%;
  overflow: scroll;

}
.card-img-top{
    /* opacity: 0.5; */
    height: 100%;
    /* height: 37.5vh; */
    width: 100%;
}
.cardImage{
    position: relative;
    width: 70%;
    margin-top: 10%;
    margin-left: 13%;

}

.allCommunityCards{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5%;
    /* margin-bottom: 5%; */
    /* padding: 10%; */
}
/* community card */
.card{
    padding-top: 0;

}
.cardCommunityBody{
    position: relative;
    /* padding-bottom: 0; */
    bottom: -10px;
    /* color: white; */
}
.cardCommunityText{
    color: white;

}
#communityShare{
    color: white;
    text-decoration: none;
}
/* community icon */
#communityP{
    color: white;
}
#text{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    background-color: rgba(0,0,1, 0.4);
}

#item{
    width: 70%;
    margin-left: 13%;
}
.carousel-caption{
    font-size: 30px;
}
#homeSignup a{
    text-decoration: none;
    /* color: #000000; */
}

#homeSignup:hover{
    box-shadow: 1px 1px #f2cd99

}

.homeImageContainer{
    position: relative;
    text-align: center;
    width: 100%;
    /* color: white; */
}
#top-left{
    position: absolute;
    top: 10%;
    left: -35%;
    color: white;
    font-size: 40px;
    text-shadow: 3px 3px 4px black;
    color: white;
    /* text-shadow: 1px 1px 2px #FFE01C */


}
#middle-left{
    position: absolute;
    top: 25%;
    left: 4%;
    font-size: 30px;
    text-shadow: 1px 1px 2px black;
    /* text-shadow: 1px 1px 2px #FFE01C; */
}
#bottom-left{
    position: absolute;
    top: 55%;
    left: -40%;
    font-size: 25px;
    color: black;
}

.homePageText{
    margin-top: 6%;
    margin-bottom: 4%;
    text-align: center;
    color: lightgray;
    font-weight: bold;
}
.modalContainer{
    display: inline;
    /* margin-left: 20%; */
}
.calculations{
    font-size: 17px;
}
.error {
    color: red
}

.diffSystem{
    border: 3px;
    margin-bottom: 5%;
}
