header {
    background: lightblue;
    height: 7vh;
    display: flex;
    flex-direction: row;
}
.profile {
    display: inline-block;
    margin-top: 1%;
    padding-right: 3%;
    /* justify-content: flex-end;
    align-items: flex-end; */

}

.solarButtons{
    display: flex;
    flex-direction: row;
    padding-left: 4%;
    margin-top: 2%;
    /* justify-content: space-around; */
}

.buildSolar{
    margin-left: 10%;
}
.table{
    margin-top: 4%;
}

.homeImage{
    height: 20%;
    width: 100%;
    border: 4px solid skyblue;
    margin-bottom: 3%;
}

#buy{
    color: green;
    /* margin-left: 1%; */

}
#buyIcon{
    padding-right: 5%;
}
tr{
    font-size: 18px;
}
#inverIcon, #chargecntrlIcon, #solarpanelIcon, #batteryIcon{
    padding-right: 4%;
    /* color: skyblue; */
}
#edit{
    /* background-color: #27AEE3; */
    background-color: #26abff;
    color: white;

}
#edit a{
    color: white;
}

#delete{
    /* background-color:#FF1A00; */
    /* background-color: #FF0012; */
    /* background-color: #Df2121; */
    background-color: #f21515;
    color: white;
}
#info{
    color: skyblue;
}
.build-edit{
    display: flex;
    flex-direction: row;

}

footer{
    background-color: gray;
    height: 20%;
    color: white;
}
.icons a{
    color:white;
    height: 10%;
    width: 10%;
}
/* .logo{
    width: 10%;
    display: flex;
    flex-direction: row;
} */
