<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div id="container">
            <div id="main">
                <% include ../partials/header.ejs %>
                <% include ../partials/tab2.ejs %>
                <div class="jumbotron text-center">

                    <h1> Batteries</h1>
                </div>
                <div class="container">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Part</th>
                                <th>info</th>
                                <th>other info</th>
                                <th>Price</th>
                                <th> Link </th>
                                <th>Add</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Battle Born LiFePO4 Deep Cycle</td>
                                <td>100Ah 12v with Built-in BMS</td>
                                <!-- <button><a href="https://www.amazon.com/Renogy-Monocrystalline-Solar-Compact-Design/dp/B07GF5JY35/ref=sr_1_9?keywords=solar+panels&qid=1573102643&sr=8-9">Choose Pannel</a></button> -->
                                <td>3000-5000 Deep Cycle Rechargeable Battery</td>
                                <td>$949</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/LiFePO4-Volt-Deep-Cycle-Battery/dp/B06XX197GJ/ref=sr_1_4?crid=3LDT97M1JZIGJ&dchild=1&keywords=lithium+solar+battery&qid=1573116334&sprefix=lithium+so%2Caps%2C191&sr=8-4" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>

                                    <form action="/build/solar/battery?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="Battle Born LiFePO4">
                                        <input type="hidden" name="price" value="949">
                                        <input type="hidden" name="link" value="https://www.amazon.com/LiFePO4-Volt-Deep-Cycle-Battery/dp/B06XX197GJ/ref=sr_1_4?crid=3LDT97M1JZIGJ&dchild=1&keywords=lithium+solar+battery&qid=1573116334&sprefix=lithium+so%2Caps%2C191&sr=8-4">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>

                            </tr>
                            <tr>
                                  
                                <td>Universal Power Group</td>
                                <td>12V 100Ah Solar Wind AGM SLA DEEP Cycle</td>
                                <td>VRLA Battery 12V 24V 48V</td>
                                <td>$179.99</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/Universal-Power-Group-100Ah-Battery/dp/B00S1RT58C/ref=sr_1_5?crid=1J0HTUJJGRSDO&keywords=agm+solar+battery&qid=1573116796&sprefix=agm+solar%2Caps%2C190&sr=8-5" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/battery?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="Universal Power Group">
                                        <input type="hidden" name="price" value="179.99">
                                        <input type="hidden" name="link" value="https://www.amazon.com/Universal-Power-Group-100Ah-Battery/dp/B00S1RT58C/ref=sr_1_5?crid=1J0HTUJJGRSDO&keywords=agm+solar+battery&qid=1573116796&sprefix=agm+solar%2Caps%2C190&sr=8-5">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>

                            </tr>
                            <tr>
                                <td>Mighty Max Battery </td>
                                <td>12V 100AH Battery for Solar Wind</td>
                                <td>DEEP Cycle VRLA 12V 24V 48V</td>
                                <td>$174.99</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/Mighty-Max-Battery-100AH-Product/dp/B00S2MDZFK/ref=psdc_389574011_t3_B00S1RT58C" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/battery?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="Mighty Max Battery">
                                        <input type="hidden" name="price" value="174.99">
                                        <input type="hidden" name="link" value="https://www.amazon.com/Mighty-Max-Battery-100AH-Product/dp/B00S2MDZFK/ref=psdc_389574011_t3_B00S1RT58C">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>

                            </tr>
                            <tr>
                                 
                                <td>  Expert Power </td>
                                <td>EXP12180 12V18AH</td>
                                <td>Lead_Acid_Battery</td>
                                <td>$38.37</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/dp/B00A82A3RK/ref=sspa_dk_detail_4?psc=1&pd_rd_i=B00A82A3RK&pd_rd_w=1HNuz&pf_rd_p=48d372c1-f7e1-4b8b-9d02-4bd86f5158c5&pd_rd_wg=50ZL8&pf_rd_r=HX8D6F9SK98GDTZ1AVF5&pd_rd_r=954a2a0d-9ed3-4f5f-9f4d-dfc516c4c591&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUE4NkFRTkkyVE5WMDEmZW5jcnlwdGVkSWQ9QTA3OTA2MjkxSklKTFNXVTYySEdUJmVuY3J5cHRlZEFkSWQ9QTA2MDY0ODRTS0xNWElWUTNGN0gmd2lkZ2V0TmFtZT1zcF9kZXRhaWwmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/battery?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="Expert Power">
                                        <input type="hidden" name="price" value="38.37">
                                        <input type="hidden" name="link" value="https://www.amazon.com/LiFePO4-Volt-Deep-Cycle-Battery/dp/B06XX197GJ/ref=sr_1_4?crid=3LDT97M1JZIGJ&dchild=1&keywords=lithium+solar+battery&qid=1573116334&sprefix=lithium+so%2Caps%2C191&sr=8-4">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>

                            </tr>
                            <tr>
                                  
                                <td>  Renogy </td>
                                <td>Deep Cycle Hybrid Gel</td>
                                <td>12 Volt 100Ah Battery</td>
                                <td>$249.99</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/Renogy-Deep-Cycle-Hybrid-Battery/dp/B084M48255/ref=sr_1_20?dchild=1&keywords=lithium+battery&qid=1590555142&s=automotive&sr=1-20" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/battery?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="Renogy">
                                        <input type="hidden" name="price" value="249.99">
                                        <input type="hidden" name="link" value="https://www.amazon.com/Renogy-Deep-Cycle-Hybrid-Battery/dp/B084M48255/ref=sr_1_20?dchild=1&keywords=lithium+battery&qid=1590555142&s=automotive&sr=1-20">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav>
                    <button type="button" class="btn btn-default btn-sm"><a href="/solar"><span class="glyphicon glyphicon-flash"></span>Back to my data table</a></button> <br>
                </nav>
                <nav>
                    <button type="button" class="btn btn-default btn-sm"><a href="/solar/build"><span class="glyphicon glyphicon-shopping-cart"></span>Back to My Build Cart</a></button>
                </nav>
            </div>
        </div>

        <footer id="footer">
            <% include ../partials/footer.ejs %>
        </footer>
    </body>
</html>
