<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <% include ../partials/header.ejs %>
        <% include ../partials/tab2.ejs %>

        <h1>Battery Page</h1>
        <div class="container">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Part</th>
                        <th>info</th>
                        <th>other info</th>
                        <th>Price</th>
                        <th> Link </th>
                        <th>Add</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Veronica Battery</td>
                        <td>random specs</td>
                        <!-- <button><a href="https://www.amazon.com/Renogy-Monocrystalline-Solar-Compact-Design/dp/B07GF5JY35/ref=sr_1_9?keywords=solar+panels&qid=1573102643&sr=8-9">Choose Pannel</a></button> -->
                        <td>more specs</td>
                        <td>$949</td>
                        <td>
                            <a target="_blank" href="https://www.amazon.com/LiFePO4-Volt-Deep-Cycle-Battery/dp/B06XX197GJ/ref=sr_1_4?crid=3LDT97M1JZIGJ&dchild=1&keywords=lithium+solar+battery&qid=1573116334&sprefix=lithium+so%2Caps%2C191&sr=8-4" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                        </td>
                        <td>
                            <form action="/solar/build" method="POST">
                                <input type="submit" value="Add"/>
                            </form>
                        </td>

                    </tr>
                    <tr>
                        <td>Jonathan Battery</td>
                        <td>random specs</td>
                        <td>more specs</td>
                        <td>$169</td>
                        <td>
                            <a target="_blank" href="https://www.amazon.com/Universal-Power-Group-100Ah-Battery/dp/B00S1RT58C/ref=sr_1_5?crid=1J0HTUJJGRSDO&keywords=agm+solar+battery&qid=1573116796&sprefix=agm+solar%2Caps%2C190&sr=8-5" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                        </td>
                        <td>
                            <form action="/solar/build" method="POST">
                                <input type="submit" value="Add"/>
                            </form>
                        </td>

                    </tr>
                    <tr>
                        <td>next </td>
                        <td>more specs</td>
                        <td>random specs</td>
                        <td>$</td>
                        <td>
                            <form action="/solar/build" method="POST">
                                <input type="submit" value="Add"/>
                            </form>
                        </td>

                    </tr>
                    <tr>
                        <td>next </td>
                        <td>more specs</td>
                        <td>random specs</td>
                        <td>$</td>
                        <td>
                            <form action="/solar/battery/build?_method=PUT" method="POST">
                                <input type="submit" value="Add"/>
                            </form>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <nav>
            <button type="button" class="btn btn-default btn-sm"><a href="/"><span class="glyphicon glyphicon-home"></span>Back to Home Page</a></button>
        </nav>
        <nav>
            <a href="/solar">Back to My Appliance Table</a>
        </nav>
        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </body>
</html>
