<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div id="container">
            <div id="main">
                <% include ../partials/header.ejs %>
                <% include ../partials/tab3.ejs %>

            <div class="jumbotron text-center">
              <h1>The Solar Panel System</h1>
              <p>New to building solar systems? No worries! We have everything layed out here to get you from start to fully powered off-grid living</p>
            </div>

            <div class="cardContainer">
              <div class="row">
                <div class="col-sm-4">
                  <h3>What Does All This Stuff Do?</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                  <a target="_blank" href="https://gnomadhome.com/van-build-solar-electrical-wiring/#What_Does_All_This_Stuff_Do" class="btn btn-primary">Learn More</a>
                </div>
                <div class="col-sm-4">
                  <h3>How to Size your Camper Van Electrical System</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                  <a target="_blank" href="https://www.explorist.life/diy-campervan-solar/" class="btn btn-primary">Learn More</a>
                </div>
                <div class="col-sm-4">
                  <h3>Choosing Solar Panels and Batteries</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                  <a target="_blank" href="https://gnomadhome.com/van-build-solar-electrical-wiring/#Choosing_Solar_Panels_and_Batteries" class="btn btn-primary">Learn More</a>
                </div>
              </div>
          </div>

                <img id="setupImage" src="https://i.imgur.com/3RrxOLM.png" alt="">
                <!-- <div class="setImages">
                <img src="/img/solarVan.png" alt="campervan solar panels">
                <img src="/img/solarGuide.png" alt="">
                <img src="/img/setupGuide.png" alt="">
                <div> -->
                <div class="cardContainer2">
                  <div class="row">
                    <div class="col-sm-4">
                      <h3>Series VS Parallel</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                      <a target="_blank" href="https://www.explorist.life/solar-panels-series-vs-parallel/" class="btn btn-primary">Learn More</a>
                    </div>
                    <div class="col-sm-4">
                      <h3>How to Install a Battery Monitor </h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                      <a target="_blank" href="https://www.explorist.life/how-to-install-a-diy-camper-van-solar-battery-monitor/" class="btn btn-primary">Learn More</a>
                    </div>
                    <div class="col-sm-4">
                      <h3>Lithium vs AGM</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                      <a target="_blank" href="https://www.victronenergy.com/blog/2015/03/30/batteries-lithium-ion-vs-agm/" class="btn btn-primary">Learn More</a>
                    </div>
                  </div>
              </div>

        <footer id="footer">
            <% include ../partials/footer.ejs %>
        </footer>
    </body>
</html>
