<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div id="container">
            <div id="main">
                <% include ../partials/header.ejs %>
                <% include ../partials/tab3.ejs %>

                <h3>New to building solar systems? No worries! We have everything layed out here to get you from start to relaxing off-grid outdoors and fully powered.</h3>

                <img src="/img/solarVan.png" alt="campervan solar panels">
                <img src="/img/solarGuide.png" alt="">
                <img src="/img/setupGuide.png" alt="">

        <footer id="footer">
            <% include ../partials/footer.ejs %>
        </footer>
    </body>
</html>
