<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div id="container">
            <div id="main">
                <% include ../partials/header.ejs %>
                <% include ../partials/tab2.ejs %>
                <div class="jumbotron text-center">

                    <h1>Charge Controllers</h1>
                </div>
                <div class="container">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Part</th>
                                <th>info</th>
                                <th>other info</th>
                                <th>Price</th>
                                <th>Link</th>
                                <th>Add</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> EPEVER MPPT 30A 12V/24V Auto Max PV 100V </td>
                                <td>Solar Panel Charging Generator Common Negative Ground</td>
                                <td>Solar Regulator with LCD Display for Gel AGM Flooded Sealed Lithium Battery (30A MPPT)</td>
                                <td>$97.99</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/Controller-Display-Tracer3210AN-Charging-Regulator/dp/B07BHKJSFN/ref=sxts_sxwds-bia-wc-p13n2_0?cv_ct_cx=charge+controller&dchild=1&keywords=charge+controller&pd_rd_i=B07BHKJSFN&pd_rd_r=b5a1f5e5-9f7e-4a7b-b1cd-dd67de4b4370&pd_rd_w=mAzLM&pd_rd_wg=hX3qE&pf_rd_p=d027eaac-7531-45fe-a61e-20ae30db06de&pf_rd_r=EVJM6G4J74G1Q2D9S3G7&psc=1&qid=1590609418&sr=1-2-70f7c15d-07d8-466a-b325-4be35d7258cc" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/chargecontrol?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="EPEVER MPPT 30A 12V/24V Auto Max PV 100V ">
                                        <input type="hidden" name="price" value="97.99">
                                        <input type="hidden" name="link" value="https://www.amazon.com/Controller-Display-Tracer3210AN-Charging-Regulator/dp/B07BHKJSFN/ref=sxts_sxwds-bia-wc-p13n2_0?cv_ct_cx=charge+controller&dchild=1&keywords=charge+controller&pd_rd_i=B07BHKJSFN&pd_rd_r=b5a1f5e5-9f7e-4a7b-b1cd-dd67de4b4370&pd_rd_w=mAzLM&pd_rd_wg=hX3qE&pf_rd_p=d027eaac-7531-45fe-a61e-20ae30db06de&pf_rd_r=EVJM6G4J74G1Q2D9S3G7&psc=1&qid=1590609418&sr=1-2-70f7c15d-07d8-466a-b325-4be35d7258cc">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>EPEVER MT-50 Remote Meter</td>
                                <td>LCD Display fit for Tracer BN series MPPT Charge Controller</td>
                                <td>Both data and power flowing on the same lead, no need external power supply</td>
                                <td>$27.99</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/SolarEpic-Remote-Display-Tracer-Controller/dp/B00YAB0UVO/ref=sxts_sxwds-bia-wc-p13n1_0?cv_ct_cx=charge+controller&dchild=1&keywords=charge+controller&pd_rd_i=B00YAB0UVO&pd_rd_r=b5a1f5e5-9f7e-4a7b-b1cd-dd67de4b4370&pd_rd_w=mAzLM&pd_rd_wg=hX3qE&pf_rd_p=d027eaac-7531-45fe-a61e-20ae30db06de&pf_rd_r=EVJM6G4J74G1Q2D9S3G7&psc=1&qid=1590609418&sr=1-1-70f7c15d-07d8-466a-b325-4be35d7258cc" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/chargecontrol?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="EPEVER MT-50 Remote Meter">
                                        <input type="hidden" name="price" value="27.99">
                                        <input type="hidden" name="link" value="https://www.amazon.com/SolarEpic-Remote-Display-Tracer-Controller/dp/B00YAB0UVO/ref=sxts_sxwds-bia-wc-p13n1_0?cv_ct_cx=charge+controller&dchild=1&keywords=charge+controller&pd_rd_i=B00YAB0UVO&pd_rd_r=b5a1f5e5-9f7e-4a7b-b1cd-dd67de4b4370&pd_rd_w=mAzLM&pd_rd_wg=hX3qE&pf_rd_p=d027eaac-7531-45fe-a61e-20ae30db06de&pf_rd_r=EVJM6G4J74G1Q2D9S3G7&psc=1&qid=1590609418&sr=1-1-70f7c15d-07d8-466a-b325-4be35d7258cc">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>

                            </tr>
                            <tr>
                                <td>SmartSolar MPPT</td>
                                <td>100V 30A Charge Controller</td>
                                <td>Remotely control and monitor your SmartSolar MPPT charger with built-in bluetooth via VictronConnect</td>
                                <td>$225.62</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/SmartSolar-MPPT-100-Charge-Controller/dp/B073ZJ3L13/ref=sr_1_3?dchild=1&keywords=charge+controller&qid=1590609418&sr=8-3" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/chargecontrol?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="SmartSolar MPPT">
                                        <input type="hidden" name="price" value="225.62">
                                        <input type="hidden" name="link" value="https://www.amazon.com/SmartSolar-MPPT-100-Charge-Controller/dp/B073ZJ3L13/ref=sr_1_3?dchild=1&keywords=charge+controller&qid=1590609418&sr=8-3">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td> MPPT Solar Charge Controller </td>
                                <td>60amp Solar Panel Charging Battery Regulator</td>
                                <td>60A 12V/24V Auto Work, with LCD Display Max 100V, 780W/1560W Input for Lead-Acid Battery, with Load Timer Setting</td>
                                <td>$99.99</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/OOYCYOO-Controller-Regulator-Display-Lead-Acid/dp/B07MKP5SQJ/ref=sxin_7_ac_d_pm?ac_md=3-1-QmV0d2VlbiAkNzUgYW5kICQyMDA%3D-ac_d_pm&cv_ct_cx=charge+controller&dchild=1&keywords=charge+controller&pd_rd_i=B07MKP5SQJ&pd_rd_r=c3187164-14ec-48dc-81f7-f37b147032f1&pd_rd_w=cF1Ka&pd_rd_wg=ug2Vm&pf_rd_p=4ad7736a-c9f7-4bcd-8a16-bd943c26821c&pf_rd_r=EVJM6G4J74G1Q2D9S3G7&psc=1&qid=1590609418&sr=1-2-22d05c05-1231-4126-b7c4-3e7a9c0027d0" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/chargecontrol?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="MPPT Solar Charge Controller">
                                        <input type="hidden" name="price" value="99.99">
                                        <input type="hidden" name="link" value="https://www.amazon.com/OOYCYOO-Controller-Regulator-Display-Lead-Acid/dp/B07MKP5SQJ/ref=sxin_7_ac_d_pm?ac_md=3-1-QmV0d2VlbiAkNzUgYW5kICQyMDA%3D-ac_d_pm&cv_ct_cx=charge+controller&dchild=1&keywords=charge+controller&pd_rd_i=B07MKP5SQJ&pd_rd_r=c3187164-14ec-48dc-81f7-f37b147032f1&pd_rd_w=cF1Ka&pd_rd_wg=ug2Vm&pf_rd_p=4ad7736a-c9f7-4bcd-8a16-bd943c26821c&pf_rd_r=EVJM6G4J74G1Q2D9S3G7&psc=1&qid=1590609418&sr=1-2-22d05c05-1231-4126-b7c4-3e7a9c0027d0">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>

                            </tr>
                            <tr>
                                <td> Renogy multip Advanced Rover Li 30 Amp </td>
                                <td>12V/24V DC Input MPPT </td>
                                <td>Bluetooth and LCD screen and multiple LED indicators, 30Amp-BT</td>
                                <td>$169.99</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/dp/B07DNW9DZK/ref=sspa_dk_detail_4?psc=1&pd_rd_i=B07DNW9DZK&pd_rd_w=WDUfv&pf_rd_p=48d372c1-f7e1-4b8b-9d02-4bd86f5158c5&pd_rd_wg=42S3D&pf_rd_r=YPTWKPEZ47VC7YKNBZX5&pd_rd_r=dc6003de-b042-47fe-b998-898fcf5164e7&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUE2VDM4UzRXOUkzMlomZW5jcnlwdGVkSWQ9QTAyNzk4MTkxUlcwVk5EMTU2VERWJmVuY3J5cHRlZEFkSWQ9QTAzNDI1MDUzMzhQUUY0MTUzSjQmd2lkZ2V0TmFtZT1zcF9kZXRhaWwmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/chargecontrol?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="Reongy multip Advanced Rover Li 30 Amp">
                                        <input type="hidden" name="price" value="169.99">
                                        <input type="hidden" name="link" value="https://www.amazon.com/dp/B07DNW9DZK/ref=sspa_dk_detail_4?psc=1&pd_rd_i=B07DNW9DZK&pd_rd_w=WDUfv&pf_rd_p=48d372c1-f7e1-4b8b-9d02-4bd86f5158c5&pd_rd_wg=42S3D&pf_rd_r=YPTWKPEZ47VC7YKNBZX5&pd_rd_r=dc6003de-b042-47fe-b998-898fcf5164e7&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUE2VDM4UzRXOUkzMlomZW5jcnlwdGVkSWQ9QTAyNzk4MTkxUlcwVk5EMTU2VERWJmVuY3J5cHRlZEFkSWQ9QTAzNDI1MDUzMzhQUUY0MTUzSjQmd2lkZ2V0TmFtZT1zcF9kZXRhaWwmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav>
                    <button type="button" class="btn btn-default btn-sm"><a href="/solar"><span class="glyphicon glyphicon-flash"></span>Back to my data table</a></button> <br>
                </nav>
                <nav>
                    <button type="button" class="btn btn-default btn-sm"><a href="/solar/build"><span class="glyphicon glyphicon-shopping-cart"></span>Back to My Build Cart</a></button>
                </nav>
            </div>
        </div>

        <footer id="footer">
            <% include ../partials/footer.ejs %>
        </footer>
    </body>
</html>
