<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div id="container">
            <div id="main">
                <% include ../partials/header.ejs %>
                <% include ../partials/tab2.ejs %>
                <div class="jumbotron text-center">

                    <h1>Charge Controllers</h1>
                </div>
                <div class="container">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Part</th>
                                <th>info</th>
                                <th>other info</th>
                                <th>Price</th>
                                <th>Link</th>
                                <th>Add</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>firstChargeControl</td>
                                <td>random specs</td>
                                <!-- <button><a href="https://www.amazon.com/Renogy-Monocrystalline-Solar-Compact-Design/dp/B07GF5JY35/ref=sr_1_9?keywords=solar+panels&qid=1573102643&sr=8-9">Choose Pannel</a></button> -->
                                <td>more specs</td>
                                <td>$18</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/PowMr-60a-Charge-Controller-Adjustable/dp/B07KW4DHX6/ref=sr_1_3?keywords=charge+controller+solar+panels&qid=1573514246&sr=8-3" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/chargecontrol?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="firstChargeControl">
                                        <input type="hidden" name="price" value="18">
                                        <input type="hidden" name="link" value="https://www.amazon.com/PowMr-60a-Charge-Controller-Adjustable/dp/B07KW4DHX6/ref=sr_1_3?keywords=charge+controller+solar+panels&qid=1573514246&sr=8-3">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>

                            </tr>
                            <tr>
                                <td>secondChargeControl</td>
                                <td>random specs</td>
                                <td>more specs</td>
                                <td>$22</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/PowMr-60a-Charge-Controller-Adjustable/dp/B07KW4DHX6/ref=sr_1_3?keywords=charge+controller+solar+panels&qid=1573514246&sr=8-3" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/chargecontrol?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="secondChargeControl">
                                        <input type="hidden" name="price" value="22">
                                        <input type="hidden" name="link" value="https://www.amazon.com/PowMr-60a-Charge-Controller-Adjustable/dp/B07KW4DHX6/ref=sr_1_3?keywords=charge+controller+solar+panels&qid=1573514246&sr=8-3">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>

                            </tr>
                            <tr>
                                <td>thirdChargeControl </td>
                                <td>more specs</td>
                                <td>random specs</td>
                                <td>$25</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/PowMr-60a-Charge-Controller-Adjustable/dp/B07KW4DHX6/ref=sr_1_3?keywords=charge+controller+solar+panels&qid=1573514246&sr=8-3" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/chargecontrol?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="thirdChargeControl">
                                        <input type="hidden" name="price" value="25">
                                        <input type="hidden" name="link" value="https://www.amazon.com/PowMr-60a-Charge-Controller-Adjustable/dp/B07KW4DHX6/ref=sr_1_3?keywords=charge+controller+solar+panels&qid=1573514246&sr=8-3">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>

                            </tr>
                            <tr>
                                <td>fourthChargeControl </td>
                                <td>more specs</td>
                                <td>random specs</td>
                                <td>$30</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/PowMr-60a-Charge-Controller-Adjustable/dp/B07KW4DHX6/ref=sr_1_3?keywords=charge+controller+solar+panels&qid=1573514246&sr=8-3" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/chargecontrol?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="fourthChargeControl">
                                        <input type="hidden" name="price" value="30">
                                        <input type="hidden" name="link" value="https://www.amazon.com/PowMr-60a-Charge-Controller-Adjustable/dp/B07KW4DHX6/ref=sr_1_3?keywords=charge+controller+solar+panels&qid=1573514246&sr=8-3">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav>
                    <button type="button" class="btn btn-default btn-sm"><a href="/solar"><span class="glyphicon glyphicon-flash"></span>Back to my data table</a></button> <br>
                </nav>
                <nav>
                    <button type="button" class="btn btn-default btn-sm"><a href="/solar/build"><span class="glyphicon glyphicon-shopping-cart"></span>Back to My Build Cart</a></button>
                </nav>
            </div>
        </div>

        <footer id="footer">
            <% include ../partials/footer.ejs %>
        </footer>
    </body>
</html>
