<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div id="container">
            <div id="main">
                <% include ../partials/header.ejs %>
                <% include ../partials/tab2.ejs %>
                <div class="jumbotron text-center">

                    <h1>Inverters</h1>
                </div>
                <div class="container">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Part</th>
                                <th>info</th>
                                <th>other info</th>
                                <th>Price</th>
                                <th>Link</th>
                                <th>Add</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>KRIËGER 1100 Watt 12V Power Inverter</td>
                                <td> Dual 110V AC Outlets</td>
                                <td>Installation Kit Included</td>
                                <td>$84.97</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/KRI%C3%8BGER-Inverter-Installation-Automotive-According/dp/B00T564EIY/ref=sr_1_1_sspa?dchild=1&keywords=rv+inverter&qid=1590608711&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzTU5JNE82WjVCWEJJJmVuY3J5cHRlZElkPUEwNzEzNjQ5MUxISEE3U1lTSk5OTSZlbmNyeXB0ZWRBZElkPUEwOTcyMDI2M0g3SkpPUTdRREhVOSZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/inverter?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="KRIËGER 1100 Watt 12V">
                                        <input type="hidden" name="price" value="84.97">
                                        <input type="hidden" name="link" value="https://www.amazon.com/KRI%C3%8BGER-Inverter-Installation-Automotive-According/dp/B00T564EIY/ref=sr_1_1_sspa?dchild=1&keywords=rv+inverter&qid=1590608711&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzTU5JNE82WjVCWEJJJmVuY3J5cHRlZElkPUEwNzEzNjQ5MUxISEE3U1lTSk5OTSZlbmNyeXB0ZWRBZElkPUEwOTcyMDI2M0g3SkpPUTdRREhVOSZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>

                            </tr>
                            <tr>
                                <td>NDDI 1500W</td>
                                <td>12V DC to 110V AC</td>
                                <td>Dual 3.1A USB Port</td>
                                <td>$89.99</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/Inverter-Converter-Charging-Emergency-Hurricane/dp/B07L94WKYQ/ref=sr_1_3_sspa?dchild=1&keywords=rv+inverter&qid=1590608711&sr=8-3-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzTU5JNE82WjVCWEJJJmVuY3J5cHRlZElkPUEwNzEzNjQ5MUxISEE3U1lTSk5OTSZlbmNyeXB0ZWRBZElkPUEwOTE5MTkxM1BLRVBMOTU4QU1DTSZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/inverter?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="NDDI 1500W">
                                        <input type="hidden" name="price" value="89.99">
                                        <input type="hidden" name="link" value="https://www.amazon.com/Inverter-Converter-Charging-Emergency-Hurricane/dp/B07L94WKYQ/ref=sr_1_3_sspa?dchild=1&keywords=rv+inverter&qid=1590608711&sr=8-3-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzTU5JNE82WjVCWEJJJmVuY3J5cHRlZElkPUEwNzEzNjQ5MUxISEE3U1lTSk5OTSZlbmNyeXB0ZWRBZElkPUEwOTE5MTkxM1BLRVBMOTU4QU1DTSZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>

                            </tr>
                            <tr>
                                <td> GIANDEL 2000W Power Inverter</td>
                                <td>12V DC to 110V 120V AC</td>
                                <td>Remote Control and LED Display Dual AC Outlets & USB Port</td>
                                <td>$156.96</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/GIANDEL-Inverter-Control-Display-Outlets/dp/B07MMB23LS/ref=sr_1_4_sspa?dchild=1&keywords=rv+inverter&qid=1590608711&sr=8-4-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzTU5JNE82WjVCWEJJJmVuY3J5cHRlZElkPUEwNzEzNjQ5MUxISEE3U1lTSk5OTSZlbmNyeXB0ZWRBZElkPUEwNDc4OTA0MlZPVE9RMTlGUDZYTyZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/inverter?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="GIANDEL 2000W Power Inverter">
                                        <input type="hidden" name="price" value="156.96">
                                        <input type="hidden" name="link" value="https://www.amazon.com/GIANDEL-Inverter-Control-Display-Outlets/dp/B07MMB23LS/ref=sr_1_4_sspa?dchild=1&keywords=rv+inverter&qid=1590608711&sr=8-4-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzTU5JNE82WjVCWEJJJmVuY3J5cHRlZElkPUEwNzEzNjQ5MUxISEE3U1lTSk5OTSZlbmNyeXB0ZWRBZElkPUEwNDc4OTA0MlZPVE9RMTlGUDZYTyZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>

                            </tr>
                            <tr>
                                <td>Powermax 110 Volt to 12 Volt DC</td>
                                <td>Power Supply Converter Charger</td>
                                <td>Pm3-55 (55 Amp)</td>
                                <td>$119.70</td>
                                <td>
                                    <a target="_blank" href="amazon.com/Powermax-Supply-Converter-Charger-Pm3-55/dp/B00F8MC440/ref=sr_1_6?dchild=1&keywords=rv+inverter&qid=1590608711&sr=8-6" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/inverter?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="Powermax 110 Volt to 12 Volt DC">
                                        <input type="hidden" name="price" value="119.70">
                                        <input type="hidden" name="link" value="amazon.com/Powermax-Supply-Converter-Charger-Pm3-55/dp/B00F8MC440/ref=sr_1_6?dchild=1&keywords=rv+inverter&qid=1590608711&sr=8-6">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td> XYZ INVT 1500W Power Inverter 12V DC to 110V 120V AC</td>
                                <td>LED Display Dual AC Outlets</td>
                                <td>1500W12V</td>
                                <td>$199.9</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/XYZ-INVT-Inverter-Display-1500W12V/dp/B07YQGS4VH/ref=sxin_7?ascsubtag=amzn1.osa.a84dddc5-6f23-4bd6-8775-33c721934d8a.ATVPDKIKX0DER.en_US&creativeASIN=B07YQGS4VH&cv_ct_cx=rv+inverter&cv_ct_id=amzn1.osa.a84dddc5-6f23-4bd6-8775-33c721934d8a.ATVPDKIKX0DER.en_US&cv_ct_pg=search&cv_ct_wn=osp-single-source&dchild=1&keywords=rv+inverter&linkCode=oas&pd_rd_i=B07YQGS4VH&pd_rd_r=176fb216-9844-42ea-95b4-37e56e4bd1df&pd_rd_w=HY0PH&pd_rd_wg=ztgkf&pf_rd_p=bc1f22df-1f73-4582-9d4c-c47321af5fa2&pf_rd_r=RSM6W0GEEVGBAJ1T7JK9&qid=1590608711&sr=1-1-72d6bf18-a4db-4490-a794-9cd9552ac58d&tag=askmencontent-20" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/inverter?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value=" XYZ INVT 1500W 12V DC to 110V 120V AC">
                                        <input type="hidden" name="price" value="199.99">
                                        <input type="hidden" name="link" value="https://www.amazon.com/XYZ-INVT-Inverter-Display-1500W12V/dp/B07YQGS4VH/ref=sxin_7?ascsubtag=amzn1.osa.a84dddc5-6f23-4bd6-8775-33c721934d8a.ATVPDKIKX0DER.en_US&creativeASIN=B07YQGS4VH&cv_ct_cx=rv+inverter&cv_ct_id=amzn1.osa.a84dddc5-6f23-4bd6-8775-33c721934d8a.ATVPDKIKX0DER.en_US&cv_ct_pg=search&cv_ct_wn=osp-single-source&dchild=1&keywords=rv+inverter&linkCode=oas&pd_rd_i=B07YQGS4VH&pd_rd_r=176fb216-9844-42ea-95b4-37e56e4bd1df&pd_rd_w=HY0PH&pd_rd_wg=ztgkf&pf_rd_p=bc1f22df-1f73-4582-9d4c-c47321af5fa2&pf_rd_r=RSM6W0GEEVGBAJ1T7JK9&qid=1590608711&sr=1-1-72d6bf18-a4db-4490-a794-9cd9552ac58d&tag=askmencontent-20">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav>
                    <button type="button" class="btn btn-default btn-sm"><a href="/solar"><span class="glyphicon glyphicon-flash"></span>Back to my data table</a></button> <br>
                </nav>
                <nav>
                    <button type="button" class="btn btn-default btn-sm"><a href="/solar/build"><span class="glyphicon glyphicon-shopping-cart"></span>Back to My Build Cart</a></button>
                </nav>
            </div>
        </div>

        <footer id="footer">
            <% include ../partials/footer.ejs %>
        </footer>
    </body>
</html>
