<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>New Solar Page</h1>
        <form action="/solar" method="POST">
            applianceName: <input type="text" placeholder="Fridge" name="applianceName"/><br/>
            Watts: <input type="text" placeholder="300" name="watts"  /><br/>
            Voltage: <input type="text" placeholder="only fill out if no watts" name="voltage" /><br/>
            amps: <input type="text" placeholder="only fill out if no watts" name="amps" /><br/>
            hourUsage: <input type="text" placeholder="ex. 2 or 2.3 or 4" name="hourUsage" /><br/>
            <input type="submit" value="Create Solar"/>
        </form>
    </body>
</html>
