<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div id="container">
            <div id="main">
                <% include ../partials/headerLoggedIn.ejs %>
                <% include ../partials/tabs.ejs %>
                <h1>Input Your Appliances</h1>
                <form id="newDataInput" action="/solar" method="POST">
                    <p class ="newSolarInput">
                    If you <span class="bold">don't</span> know the watts <span class="bold">leave field empty</span>, input BOTH voltage <span class="bold">AND</span> amps for the table to do the calculation for you
                    </p>
                    Appliance: <input type="text" placeholder="Fridge" name="applianceName"/><br/>
                    Watts: <input type="text" placeholder="i.e 300" name="watts"  /><br/>
                    Voltage: <input type="text" placeholder="i.e 12" name="voltage" /><br/>
                    Amps: <input type="text" placeholder="i.e 5" name="amps" /><br/>
                    *Hour Usage: <input type="text" placeholder="i.e .5 or 2.3 or 4" name="hourUsage" /><br/>
                    *Required <br>
                    Tip: If you have a fridge input 8 hours even when on for full day. It is generally averaged this way since it stops running once it reaches the correct temp. <br><br>
                    <input type="submit" value="Submit Appliance Data"/>
                </form>
            </div>
        </div>
        <footer id="footer">
            <% include ../partials/footer.ejs %>

        </footer>
    </body>
</html>
