<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div id="container">
            <div id="main">
                <% if(foundUser) {%>
                    <% include ../partials/headerLoggedIn.ejs %>
                 <%} else { %>
                    <% include ../partials/headerSignUp.ejs %>
                   <% } %>
                <% include ../partials/tab2.ejs %>
                <div class="jumbotron text-center">

                    <h1>Solar Panels</h1>
                </div>
                <div class="container">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Part</th>
                                <th>info</th>
                                <th>other info</th>
                                <th>Price</th>
                                <th>Link</th>
                                <th>Add</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Renogy RNG-100D-SS Solar Panel</td>
                                <td>Monocrystalline</td>
                                <!-- <button><a href="https://www.amazon.com/Renogy-Monocrystalline-Solar-Compact-Design/dp/B07GF5JY35/ref=sr_1_9?keywords=solar+panels&qid=1573102643&sr=8-9">Choose Pannel</a></button> -->
                             
                             <td> Compact Design 42.2 X 19.6 X 1.38 in </td>
                                <td>$114.99</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/Renogy-Monocrystalline-Solar-Compact-Design/dp/B07GF5JY35/ref=sr_1_5?dchild=1&keywords=solar+panels&qid=1590599763&sr=8-5" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/panels?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="Renogy RNG-100D-SS">
                                        <input type="hidden" name="price" value="114.99">
                                        <input type="hidden" name="link" value="https://www.amazon.com/Renogy-Monocrystalline-Solar-Compact-Design/dp/B07GF5JY35/ref=sr_1_5?dchild=1&keywords=solar+panels&qid=1590599763&sr=8-5">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>

                            </tr>
                            <tr>
                                <td>Winnewsun Flexible Solar Panel</td>
                                <td>Monocrystalline 0.12 inch thick</td>
                                <td>100w 18V 12V</td>
                                <td>$139.99</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/Winnewsun-Flexible-SunPower-Lightweight-Panels/dp/B076CBNK9X/ref=sxin_7?ascsubtag=amzn1.osa.2af1a9c2-784b-42a1-87ef-9397765514ce.ATVPDKIKX0DER.en_US&creativeASIN=B076CBNK9X&cv_ct_cx=solar+panels&cv_ct_id=amzn1.osa.2af1a9c2-784b-42a1-87ef-9397765514ce.ATVPDKIKX0DER.en_US&cv_ct_pg=search&cv_ct_wn=osp-single-source&dchild=1&keywords=solar+panels&linkCode=oas&pd_rd_i=B076CBNK9X&pd_rd_r=6da9ee94-ee1e-41c8-95e2-62072fcf1db1&pd_rd_w=jInOt&pd_rd_wg=qSIMr&pf_rd_p=bc1f22df-1f73-4582-9d4c-c47321af5fa2&pf_rd_r=EYGTS0JS3PRDZF647EZ1&qid=1590599763&sr=1-3-72d6bf18-a4db-4490-a794-9cd9552ac58d&tag=gadgetreview-tca-20" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/panels?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="Wineewsum Flexible Solar Panel">
                                        <input type="hidden" name="price" value="139.99">
                                        <input type="hidden" name="link" value="https://www.amazon.com/Winnewsun-Flexible-SunPower-Lightweight-Panels/dp/B076CBNK9X/ref=sxin_7?ascsubtag=amzn1.osa.2af1a9c2-784b-42a1-87ef-9397765514ce.ATVPDKIKX0DER.en_US&creativeASIN=B076CBNK9X&cv_ct_cx=solar+panels&cv_ct_id=amzn1.osa.2af1a9c2-784b-42a1-87ef-9397765514ce.ATVPDKIKX0DER.en_US&cv_ct_pg=search&cv_ct_wn=osp-single-source&dchild=1&keywords=solar+panels&linkCode=oas&pd_rd_i=B076CBNK9X&pd_rd_r=6da9ee94-ee1e-41c8-95e2-62072fcf1db1&pd_rd_w=jInOt&pd_rd_wg=qSIMr&pf_rd_p=bc1f22df-1f73-4582-9d4c-c47321af5fa2&pf_rd_r=EYGTS0JS3PRDZF647EZ1&qid=1590599763&sr=1-3-72d6bf18-a4db-4490-a794-9cd9552ac58d&tag=gadgetreview-tca-20">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>

                            </tr>
                            <tr>
                                <td>Renogy 100 Watt 12 Volt Monocrystalline</td>
                                <td>Foldable 2Pcs 50W</td>
                                <td>Suitcase with built-in kickstand and 20A charge controller </td>
                                <td>$259.99</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/Renogy-Monocrystalline-Foldable-Waterproof-Controller/dp/B079JVBVL3/ref=sxin_7?ascsubtag=amzn1.osa.2af1a9c2-784b-42a1-87ef-9397765514ce.ATVPDKIKX0DER.en_US&creativeASIN=B079JVBVL3&cv_ct_cx=solar+panels&cv_ct_id=amzn1.osa.2af1a9c2-784b-42a1-87ef-9397765514ce.ATVPDKIKX0DER.en_US&cv_ct_pg=search&cv_ct_wn=osp-single-source&dchild=1&keywords=solar+panels&linkCode=oas&pd_rd_i=B079JVBVL3&pd_rd_r=6da9ee94-ee1e-41c8-95e2-62072fcf1db1&pd_rd_w=jInOt&pd_rd_wg=qSIMr&pf_rd_p=bc1f22df-1f73-4582-9d4c-c47321af5fa2&pf_rd_r=EYGTS0JS3PRDZF647EZ1&qid=1590599763&sr=1-1-72d6bf18-a4db-4490-a794-9cd9552ac58d&tag=gadgetreview-tca-20" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/panels?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="Renogy 100Watt 12 Volt">
                                        <input type="hidden" name="price" value="259.99">
                                        <input type="hidden" name="link" value="https://www.amazon.com/Renogy-Monocrystalline-Foldable-Waterproof-Controller/dp/B079JVBVL3/ref=sxin_7?ascsubtag=amzn1.osa.2af1a9c2-784b-42a1-87ef-9397765514ce.ATVPDKIKX0DER.en_US&creativeASIN=B079JVBVL3&cv_ct_cx=solar+panels&cv_ct_id=amzn1.osa.2af1a9c2-784b-42a1-87ef-9397765514ce.ATVPDKIKX0DER.en_US&cv_ct_pg=search&cv_ct_wn=osp-single-source&dchild=1&keywords=solar+panels&linkCode=oas&pd_rd_i=B079JVBVL3&pd_rd_r=6da9ee94-ee1e-41c8-95e2-62072fcf1db1&pd_rd_w=jInOt&pd_rd_wg=qSIMr&pf_rd_p=bc1f22df-1f73-4582-9d4c-c47321af5fa2&pf_rd_r=EYGTS0JS3PRDZF647EZ1&qid=1590599763&sr=1-1-72d6bf18-a4db-4490-a794-9cd9552ac58d&tag=gadgetreview-tca-20">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>

                            </tr>
                            <tr>
                                <td>Newpowa 100 Watt </td>
                                <td>Monocrystalline</td>
                                <td>100W 12V Solar Panel</td>
                                <td>$171.50</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/Newpowa-Monocrystalline-Efficiency-Module-Marine/dp/B07JX61QJ5/ref=sxin_9_ac_d_pm?ac_md=4-1-QmV0d2VlbiAkMTAwIGFuZCAkMjAw-ac_d_pm&cv_ct_cx=solar+panels&dchild=1&keywords=solar+panels&pd_rd_i=B07JX61QJ5&pd_rd_r=6da9ee94-ee1e-41c8-95e2-62072fcf1db1&pd_rd_w=SrCUk&pd_rd_wg=qSIMr&pf_rd_p=4ad7736a-c9f7-4bcd-8a16-bd943c26821c&pf_rd_r=EYGTS0JS3PRDZF647EZ1&psc=1&qid=1590599763&sr=1-2-22d05c05-1231-4126-b7c4-3e7a9c0027d0" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/panels?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="fourthSolarPanel">
                                        <input type="hidden" name="price" value="171.50">
                                        <input type="hidden" name="link" value="https://www.amazon.com/Newpowa-Monocrystalline-Efficiency-Module-Marine/dp/B07JX61QJ5/ref=sxin_9_ac_d_pm?ac_md=4-1-QmV0d2VlbiAkMTAwIGFuZCAkMjAw-ac_d_pm&cv_ct_cx=solar+panels&dchild=1&keywords=solar+panels&pd_rd_i=B07JX61QJ5&pd_rd_r=6da9ee94-ee1e-41c8-95e2-62072fcf1db1&pd_rd_w=SrCUk&pd_rd_wg=qSIMr&pf_rd_p=4ad7736a-c9f7-4bcd-8a16-bd943c26821c&pf_rd_r=EYGTS0JS3PRDZF647EZ1&psc=1&qid=1590599763&sr=1-2-22d05c05-1231-4126-b7c4-3e7a9c0027d0">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>

                            </tr>
                            <td>RICH SOLAR </td>
                            <td>Extremely EFTE Flexible Monocrystalline</td>
                            <td>80W 12V Solar Panel</td>
                            <td>$115.99</td>
                            <td>
                                <a target="_blank" href="https://www.amazon.com/Richsolar-Extremely-Flexible-Monocrystalline-Solar/dp/B07GQ72LJR/ref=sr_1_4?crid=LR5V5SAYUGOF&dchild=1&keywords=flexible+solar+panel&qid=1590599813&sprefix=flexible+solar+pan%2Caps%2C258&sr=8-4" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                            </td>
                            <td>
                                <form action="/build/solar/panels?_method=PUT" method="POST">
                                    <input type="hidden" name="part" value="Rich Solar Flexible Panel">
                                    <input type="hidden" name="price" value="115.99">
                                    <input type="hidden" name="link" value="https://www.amazon.com/Richsolar-Extremely-Flexible-Monocrystalline-Solar/dp/B07GQ72LJR/ref=sr_1_4?crid=LR5V5SAYUGOF&dchild=1&keywords=flexible+solar+panel&qid=1590599813&sprefix=flexible+solar+pan%2Caps%2C258&sr=8-4">
                                    <input type="submit" value="Add"/>
                                </form>
                            </td>
                        </tbody>
                    </table>
                </div>
                <nav>
                    <button type="button" class="btn btn-default btn-sm"><a href="/solar"><span class="glyphicon glyphicon-flash"></span>Back to my data table</a></button> <br>
                </nav>
                <br>
                <nav>
                    <button type="button" class="btn btn-default btn-sm"><a href="/solar/build"><span class="glyphicon glyphicon-shopping-cart"></span>Back to My Build Cart</a></button>
                </nav>
            </div>
        </div>
        <footer id="footer">
            <% include ../partials/footer.ejs %>
        </footer>
    </body>
</html>
