<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div id="container">
            <div id="main">
                <% include ../partials/header.ejs %>
                <% include ../partials/tab2.ejs %>
                <div class="jumbotron text-center">

                    <h1>Solar Panels</h1>
                </div>
                <div class="container">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Part</th>
                                <th>info</th>
                                <th>other info</th>
                                <th>Price</th>
                                <th>Link</th>
                                <th>Add</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>firstSolarPanel</td>
                                <td>random specs</td>
                                <!-- <button><a href="https://www.amazon.com/Renogy-Monocrystalline-Solar-Compact-Design/dp/B07GF5JY35/ref=sr_1_9?keywords=solar+panels&qid=1573102643&sr=8-9">Choose Pannel</a></button> -->
                                <td>more specs</td>
                                <td>$230</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/LiFePO4-Volt-Deep-Cycle-Battery/dp/B06XX197GJ/ref=sr_1_4?crid=3LDT97M1JZIGJ&dchild=1&keywords=lithium+solar+battery&qid=1573116334&sprefix=lithium+so%2Caps%2C191&sr=8-4" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/panels?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="firstSolarPanel">
                                        <input type="hidden" name="price" value="230">
                                        <input type="hidden" name="link" value="https://www.amazon.com/LiFePO4-Volt-Deep-Cycle-Battery/dp/B06XX197GJ/ref=sr_1_4?crid=3LDT97M1JZIGJ&dchild=1&keywords=lithium+solar+battery&qid=1573116334&sprefix=lithium+so%2Caps%2C191&sr=8-4">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>

                            </tr>
                            <tr>
                                <td>secondSolarPanel</td>
                                <td>random specs</td>
                                <td>more specs</td>
                                <td>$300</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/LiFePO4-Volt-Deep-Cycle-Battery/dp/B06XX197GJ/ref=sr_1_4?crid=3LDT97M1JZIGJ&dchild=1&keywords=lithium+solar+battery&qid=1573116334&sprefix=lithium+so%2Caps%2C191&sr=8-4" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/panels?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="secondSolarPanel">
                                        <input type="hidden" name="price" value="300">
                                        <input type="hidden" name="link" value="https://www.amazon.com/LiFePO4-Volt-Deep-Cycle-Battery/dp/B06XX197GJ/ref=sr_1_4?crid=3LDT97M1JZIGJ&dchild=1&keywords=lithium+solar+battery&qid=1573116334&sprefix=lithium+so%2Caps%2C191&sr=8-4">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>

                            </tr>
                            <tr>
                                <td>thirdSolarPanel </td>
                                <td>more specs</td>
                                <td>random specs</td>
                                <td>$230</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/LiFePO4-Volt-Deep-Cycle-Battery/dp/B06XX197GJ/ref=sr_1_4?crid=3LDT97M1JZIGJ&dchild=1&keywords=lithium+solar+battery&qid=1573116334&sprefix=lithium+so%2Caps%2C191&sr=8-4" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/panels?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="thirdSolarPanel">
                                        <input type="hidden" name="price" value="230">
                                        <input type="hidden" name="link" value="https://www.amazon.com/LiFePO4-Volt-Deep-Cycle-Battery/dp/B06XX197GJ/ref=sr_1_4?crid=3LDT97M1JZIGJ&dchild=1&keywords=lithium+solar+battery&qid=1573116334&sprefix=lithium+so%2Caps%2C191&sr=8-4">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>

                            </tr>
                            <tr>
                                <td>fourthSolarPanel </td>
                                <td>more specs</td>
                                <td>random specs</td>
                                <td>$330</td>
                                <td>
                                    <a target="_blank" href="https://www.amazon.com/LiFePO4-Volt-Deep-Cycle-Battery/dp/B06XX197GJ/ref=sr_1_4?crid=3LDT97M1JZIGJ&dchild=1&keywords=lithium+solar+battery&qid=1573116334&sprefix=lithium+so%2Caps%2C191&sr=8-4" id="info" class="btn btn-default btn-md" role="button"><span class="glyphicon glyphicon-info-sign"></span> info </a>
                                </td>
                                <td>
                                    <form action="/build/solar/panels?_method=PUT" method="POST">
                                        <input type="hidden" name="part" value="fourthSolarPanel">
                                        <input type="hidden" name="price" value="330">
                                        <input type="hidden" name="link" value="https://www.amazon.com/LiFePO4-Volt-Deep-Cycle-Battery/dp/B06XX197GJ/ref=sr_1_4?crid=3LDT97M1JZIGJ&dchild=1&keywords=lithium+solar+battery&qid=1573116334&sprefix=lithium+so%2Caps%2C191&sr=8-4">
                                        <input type="submit" value="Add"/>
                                    </form>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav>
                    <button type="button" class="btn btn-default btn-sm"><a href="/solar"><span class="glyphicon glyphicon-flash"></span>Back to my data table</a></button> <br>
                </nav>
                <nav>

                    <button type="button" class="btn btn-default btn-sm"><a href="/solar/build"><span class="glyphicon glyphicon-shopping-cart"></span>Back to My Build Cart</a></button>
                </nav>
            </div>
        </div>
        <footer id="footer">
            <% include ../partials/footer.ejs %>
        </footer>
    </body>
</html>
