<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <% include ../partials/header.ejs %>
        <h1>Solar Show Page</h1>
        <%=solar.applianceName%>
        <%=solar.watts%>watts.

        <nav>
            <a href="/solar">Back to Solar Index</a>
        </nav>
    </body>
    <footer>
        <% include ../partials/footer.ejs %>
    </footer>
</html>
