<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <% include ../partials/header.ejs %>
        <% include ../partials/tabs.ejs %>

<h1>Log in</h1>
<%if(wrongInput){%>
        <span class="error">Username and Password do note match</span>
      <%}%>
        <form action="/sessions" method="POST">
            Username:<input type="text" name="username" /><br/>
            Password:<input type="password" name="password" /><br/>
            <!-- put in if statement that says username and password do not match -->
            <input type="submit" value="Log In">
        </form>
        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </body>
</html>
