<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Log In Page</h1>
        <form action="/sessions" method="POST">
            Username:<input type="text" name="username" /><br/>
            Password:<input type="password" name="password" /><br/>
            <!-- put in if statement that says username and password do not match -->
            <input type="submit" value="Log In">
        </form>
    </body>
</html>
