<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div id="container">
            <div id="main">
                <% include ../partials/header.ejs %>
                <% include ../partials/tabs.ejs %>
                <% include ../partials/dataPages.ejs %>

                <div class="newUser">
                    <div id="box" >
                    <h1 class="logIn">Sign Up!</h1>
                    <% if(usernameTaken){ %>
                            <span class="error">Username already taken. Please try a different username</span>
                        <% } %>
                <form action="/users" method="POST">
                    Username: <input id="userText" class="username"type="text" name="username" /><br/>
                    Password: <input id="userText" type="password" name="password" /><br/>
                    <div class="state"> State: <input id="userText" type="text" name="state" data-toggle="tooltip" title="input your state to get average Sun hours in your state!"/><br/></div>
                    <!-- for tooltip above -->
                    <script>
                    $(document).ready(function(){
                      $('[data-toggle="tooltip"]').tooltip();
                    });
                    </script>


                    <input id="accountRegister"type="submit" value="Register"/>
                </form>
                <nav >
                    <a class="account" href="/sessions/new">Already have an account?</a>
                </nav>
            </div>
            </div>
        </div>
    </div>

        <footer id="footer">
            <% include ../partials/footer.ejs %>
        </footer>
    </body>
</html>
