<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <% include ../partials/header.ejs %>
        <% include ../partials/tabs.ejs %>
        <h1>Log In</h1>
        <form action="/users" method="POST">
            Username: <input type="text" name="username" /><br/>
            Password: <input type="password" name="password" /><br/>
            State: <input type="text" name="state" /><br/>

            <input type="submit" value="Register"/>
        </form>
        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </body>
</html>
