<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div id="container">
            <div id="main">
                <% include ../partials/header.ejs %>
                <% include ../partials/tabs.ejs %>
                <% include ../partials/dataPages.ejs %>

                <div class="newUser">

                <% if(usernameTaken){ %>
                        <span class="error">Username already taken. Please try a different username</span>
                    <% } %>
                    <div id="box" >
                    <h1>Sign Up!</h1>
                <form action="/users" method="POST">
                    Username: <input type="text" name="username" /><br/>
                    Password: <input type="password" name="password" /><br/>
                    State: <input type="text" name="state" /><br/>

                    <input id="accountRegister"type="submit" value="Register"/>
                </form>
                <nav >
                    <a class="account" href="/sessions/new">Already have an account?</a>
                </nav>
            </div>
            </div>
        </div>
    </div>

        <footer id="footer">
            <% include ../partials/footer.ejs %>
        </footer>
    </body>
</html>
